<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>barrel</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{57,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,51}}</string>
			<key>sourceSize</key>
			<string>{57,51}</string>
		</dict>
		<key>canonball</key>
		<dict>
			<key>frame</key>
			<string>{{2,101},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>wheel</key>
		<dict>
			<key>frame</key>
			<string>{{2,55},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gameLayer.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:260680e72405d3228c430cb117a8f852$</string>
		<key>textureFileName</key>
		<string>gameLayer.png</string>
	</dict>
</dict>
</plist>
